<div class="hero">
  <h1>Hello, I'm Trey.</h1>
  <p>I'm an aspiring web developer. When I am not working, I enjoy spending my spare time with family and
    friends. I currently enjoy working with the MERN Stack.</p>
  <p>I'm on
    <a href="https://github.com/treymorris" target="_blank">GitHub</a>,
    <a href="https://www.linkedin.com" target="_blank">LinkedIn</a>, and
    <a href="https://discord.com" target="_blank">Discord</a>.</p>
</div>
<div class=""></div>