<div class="hero">
  <h1>Hello, I'm Trey.</h1>
  <p>I'm an aspiring developer. When I am not working, I enjoy spending my spare time with family and
    friends. I currently enjoy working with the MERN Stack.</p>
  <p>I'm on
    <a href="https://github.com/treymorris">GitHub</a>,
    <a href="https://www.linkedin.com">LinkedIn</a>, and
    <a href="https://discord.com">Discord</a>.</p>
</div>
<div class=""></div>