<div class="hero">
  <h1>Hello, I'm Trey.</h1>
  <p>I'm an aspiring developer. I enjoy spending my spare time with family and
    friends. I currently enjoy working with the MERN Stack.</p>
  <p>I'm on
    <a href="">GitHub</a>,
    <a href="">LinkedIn</a>, and
    <a href="">Odinbook</a>.</p>
</div>
<div class=""></div>