:root {
  --font-light: aliceblue;
  --font-dark: black;
  --bg-hover: grey;
  --bg-light: rgb(230, 239, 244);
  --bg-blue: rgba(39, 39, 179, 0.854);
}

body {
  padding: 50px;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  max-width: 60vw;
  margin:  auto;
}

a {
  text-decoration: none;
  color: var(--bg-blue);
}

div > a{
  color: var(--font-dark);
  
}

a:hover {
  color: var(--bg-hover);
}

button {
  background-color: var(--bg-blue);
  width: 10vw;
  height: 5vh;
  margin: 2em auto 0 auto;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

button:hover {
  opacity: 0.95;
}

input {
  width: 25vw;
  height: 5vh;
  margin-top: 0.5em;
}

li img {
  height: 450px;
  width: 750px;
}

label {
  margin-top: 1em;
}

textarea {
  margin-top: 1em;
}

.backToTopBtn {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.container {
  display: grid;
  gap: 10px;
  margin: 5em auto 0 auto;
  max-width: 50vw;
  
}

.form-container {
  display: grid;
  justify-content: center;
  margin-top: 5em;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
}

.hero {
  background-color: var(--bg-light);
  padding: 2em;
  width: 50vw;
  margin: 5em auto 0 auto;
  font-size: 1.5em;
}

.icon-container {
  width: 105px;
  height: 105px;
  margin-right: 1.5em;
  background-color: var(--bg-light);
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.image {
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1;
  margin-left: 3em;
  height: 125px;
}

.nav-links {
  grid-column: 2 / span 3;
  display: grid;
  font-size: 1.25em;
}

.nav-item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  border-bottom-style: solid;
  border-bottom-color: var(--bg-blue);
  border-bottom-width: 5px;
  text-align: center;
}

.nav-item2 {
  grid-column: 1;
  grid-row: 2;
}

.nav-item3 {
  grid-column: 2;
  grid-row: 2;
}
.nav-item4 {
  grid-column: 3;
  grid-row: 2;
}
.nav-item5 {
  grid-column: 4;
  grid-row: 2;
}

.project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project-description {
  width: 15em;
  margin-left: 5em;
}

.project-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.project-li {
  display: flex;
  align-items: center;
  margin-top: 4em;
}

.shrink {
  width: 85px;
  height: 85px;
}

.shrink:hover {
  transform: scale(1.5);
}

.skills-container {
  margin: 2em 0 0 10em;
  padding: 2em;
}

.title {
  margin-top: 2em;
  text-align: center;
  font-size: 2rem;
}
